<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pactera">

    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

<!--    <instrumentation-->
<!--        android:name="android.test.InstrumentationTestRunner"-->
<!--        android:targetPackage="com.pactera" />-->

    <application
        android:name="com.pactera.MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode">
<!--        android:requestLegacyExternalStorage="true">-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5d58d8d1861d409b94aba611aaaf1f89"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name="com.pactera.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.demo.DownloadActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.pactera.activity.demo.DemowuganjiazaiActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

<!--        <activity-->
<!--            android:name=".activity.add.AddEquipmentActivity"-->
<!--            android:windowSoftInputMode="stateHidden"-->
<!--            android:launchMode="singleTask"-->
<!--            android:screenOrientation="portrait" />-->

        <activity
            android:name="com.pactera.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.pactera.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.pactera.activity.demo.ThumbnailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.pactera.activity.demo.SkeletonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.pactera.activity.demo.DownloadActivityBack"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name="com.pactera.download.DownloadServiceBack"
            android:exported="true"
            android:process=":MyCorn" >
            <intent-filter>
                <action android:name="com.pactera.download.DownloadServiceBack" />
            </intent-filter>
        </service>

        <service
            android:name="com.pactera.download.DownloadService"
            android:exported="false"
            android:process=":background" >
            <intent-filter>
                <action android:name="com.pactera.download.DownloadService" />
            </intent-filter>
        </service>


    </application>

</manifest>